[flake8]
max-line-length = 100
extend-ignore =
    E203,  # whitespace before ':' (conflicto con black)
    E501,  # line too long (lo maneja black)
    W503,  # line break before binary operator (estilo black)
exclude =
    .git,
    .venv,
    build,
    dist,
    __pycache__,
    notebooks,
    .mypy_cache
max-complexity = 12
per-file-ignores =
    __init__.py:F401